@font-face {
  font-family: 'Galano Grotesque DEMO';
  src: url('Galano_Grotesque_DEMO_Bold.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size:62.5%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#app {
  height: 100%;
}
